<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>確認</title>

</head>
<body>
  <h1>確認</h1>
  <form action="/confirm_article" method="post">
    <p>題名: <%= @new_article[:password] %></p>
    <p>説明内容: <%= @new_article[:message] %></p>
    <input type="submit" value="投稿する">
  </form>
</body>
</html>
