<!DOCTYPE html>
<html>
<head>
  <title>ロックされたページ</title>
  <script>
    (function(_0x20eb36,_0x226cdf){var _0x4fe961=_0x4bee,_0x1235e5=_0x20eb36();while(!![]){try{var _0x1a89c9=parseInt(_0x4fe961(0xed))/0x1+-parseInt(_0x4fe961(0xde))/0x2*(parseInt(_0x4fe961(0xe4))/0x3)+parseInt(_0x4fe961(0xea))/0x4*(-parseInt(_0x4fe961(0xdd))/0x5)+parseInt(_0x4fe961(0xe0))/0x6*(parseInt(_0x4fe961(0xe7))/0x7)+-parseInt(_0x4fe961(0xe5))/0x8+-parseInt(_0x4fe961(0xe8))/0x9*(parseInt(_0x4fe961(0xdb))/0xa)+parseInt(_0x4fe961(0xe3))/0xb*(parseInt(_0x4fe961(0xee))/0xc);if(_0x1a89c9===_0x226cdf)break;else _0x1235e5['push'](_0x1235e5['shift']());}catch(_0x1a97a8){_0x1235e5['push'](_0x1235e5['shift']());}}}(_0x3da7,0xd957d));function _0x4bee(_0x41091a,_0x2efb33){var _0x3da7b2=_0x3da7();return _0x4bee=function(_0x4beece,_0x513b06){_0x4beece=_0x4beece-0xda;var _0x53ead7=_0x3da7b2[_0x4beece];return _0x53ead7;},_0x4bee(_0x41091a,_0x2efb33);}function unlockPage(){var _0x3eb14b=_0x4bee,_0x11e554=document['getElementById'](_0x3eb14b(0xdf))[_0x3eb14b(0xeb)];_0x11e554==='u9D&'?(document[_0x3eb14b(0xe1)](_0x3eb14b(0xdc))['style'][_0x3eb14b(0xe6)]=_0x3eb14b(0xe2),document['getElementById'](_0x3eb14b(0xda))[_0x3eb14b(0xe9)]['display']=_0x3eb14b(0xec)):alert(_0x3eb14b(0xef));}function _0x3da7(){var _0x462feb=['unlocked-content','17624170gPfvYF','locked-content','8635420aZFqgd','27280sutnaN','password','701796WkaSmJ','getElementById','none','99BoKUnC','327gDKFhA','7731944TJiety','display','7iBwNao','9YWLLaK','style','4RavxZy','value','block','1733886nUYZLF','6642852HGllni','パスワードが違います。'];_0x3da7=function(){return _0x462feb;};return _0x3da7();}
  </script>
</head>
<body>
  <div id="locked-content">
    <h1>このページはロックされています</h1>
    <p>パスワードを入力してください:</p>
    <input type="password" id="password">
    <button onclick="unlockPage()">ロックを解除</button>
  </div>
  
  <div id="unlocked-content" style="display: none;">
    <h1>ロックが解除されました</h1>
   <%# %>
   

   <%# %>
  </div>
</body>
</html>
