<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>使い方</title>
  <style>
    /* ボディ全体のスタイル */
    body {
      padding: 20px;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    /* リンクのスタイル */
    .gohome {
      text-align: right;
      display: block;
    }

    /* コンテンツのスタイル */
    h1, p {
      margin-top: 0;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <h1>使い方説明</h1>
  <a href="/" class="gohome">ホーム</a>
  <p>
    このサイトは、題名と内容をつけて様々投稿し、ほかのユーザーがそれに対してコメントをつけることのできる掲示板です。<br>
    記事は、一番上にあるものが一番新しく、コメントは一番下にあるものが一番新しいです。(このサイトでは、記事=スレッドです。)<br>
    たまにバグが起こってコメントが送信できなくなってしまうことがありますがご了承ください。<br>
    なお、悪質なスレッドの削除はおやめください。
    悪質な記事自体はユーザーで消すことができますが、コメントの一つ一つを消したいときにはこちらで対応しますので削除要請スレッドで削除要請をしてください。<br>
    ホーム画面にアクセスすると、検索バーと、使い方、記事一覧、投稿へのリンクがあります。<br>
    検索バーでは題名を検索することができます。<br>
    記事一覧ではすべての記事が掲載されているページに飛び、投稿ページでは新しいスレッドを立てることができます。<br>
    気になるスレッドを見つけたら、表示を押しましょう。そうすることによって、全文を見ることができるようになるだけではなく、スレッドに関してのレスを返すことができます。<br>
    分からないことがあったらスレッドを立てて聞いてください！<br>
  </p>
</body>
</html>
